.main-title {
  font-weight: bold;
  text-align: center;
}

.header-image {
  display: block;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.login-container {
  max-width: 500px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
}

.auth-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.form-group {
  text-align: left;
  margin-bottom: 15px;
}

.form-control {
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 0;
}

.form-group label {
  font-weight: bold;
}

.error-message {
  color: red;
}

.button-container {
  display: flex;
  gap: 10px;
}

.login-button {
  background-color: blue;
  border-color: blue;
  color: white;
  flex: 1;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 0;
}

.cancel-button {
  background-color: red;
  border-color: red;
  color: black;
  flex: 1;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 0;
}

.contact-info {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}
